<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rectangles</title>

   <!-- Stylesheets -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="./stylesheets/style.css">
   <!-- Javascript-->
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <section>
    <h1>Rectangle CRUD Application</h1>
  </section>
  <!-- Create a Rectangle -->
  <form action="/addRectangle" method="POST">
    <h2>Create a Rectangle</h2>
    <section class="form-row">
      <div class="form-group col-md-2">
        <label for="width">Width</label>
        <input type="text" name="width" class="form-control" id="width" placeholder="200"required>
      </div>
      <div class="form-group col-md-2">
        <label for="height">Height</label>
        <input type="text" name="height" class="form-control" id="height" placeholder="200" required>
      </div>
      <div class="form-group col-md-2">
        <label for="fill">Fill Color</label>
        <select id="fill" name="fill" class="form-control">
          <option selected>black</option>
          <option>red</option>
          <option>orange</option>
          <option>green</option>
          <option>blue</option>
          <option>indigo</option>
          <option>violet</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="border">Border Color</label>
        <select id="border" name="border" class="form-control">
          <option selected>black</option>
          <option>red</option>
          <option>green</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="opacity">Opacity</label>
        <select id="opacity" name="opacity" class="form-control">
          <option>0.5</option>
          <option selected>1.0</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="pattern">Pattern</label>
        <select id="pattern" name="pattern" class="form-control">
          <option selected>solid</option>
          <option>chevron</option>
          <option>checkerboard</option>
          <option>cubes</option>
        </select>
      </div>
    </section>
    <input class="submit-button" type="submit" value="Submit">
    <p><b>**Note: If a non solid pattern is selected, the fill color will default to black**</b></p>
  </form>

  <!--Table Displaying All Rectangles-->
  <section>
    <table class="table border">
      <thead class="thead-light">
        <tr>
          <th scope="col">id</th>
          <th scope="col">width</th>
          <th scope="col">height</th>
          <th scope="col">color</th>
          <th scope="col">border</th>
          <th scope="col">opacity</th>
          <th scope="col">pattern</th>
          <th scope="col">update</th>
          <th scope="col">delete</th>
        </tr>
      </thead>
      <tbody>
        <% if(locals.rectangles)  { %>
          <% rectangles.forEach(function(rect) { %>
            <tr>
              <td><%= rect.id %></td>
              <td contenteditable="true" id="width"><%= rect.width %></td>
              <td contenteditable="true" id="height"><%= rect.height %></td>
              <td contenteditable="true" id="color"><%= rect.color %></td>
              <td contenteditable="true" id="bordercolor"><%= rect.bordercolor %></td>
              <td contenteditable="true" id="opacity"><%= rect.opacity %></td>
              <td contenteditable="true" id="pattern"><%= rect.pattern %></td>
              <td><button class="updateButton" id="b<%=rect.id%>">Update</button></td>
              <td><button class="deleteButton" id="b<%=rect.id%>">Delete</button></td>
            </tr>
          <% }); %>
        <% } %>
        <tr>
          <td colspan = "8">
            <b>Table cells are editable. Click on the "Update" button upon editing a table row<br></b>
            Color options: Feel free to input hex values ie: #00bfff , Pattern options: Solid, Chevron, Checkerboard, Cubes<br><br>
            <p><b>**Note: If a non solid pattern is selected, the fill color will default to black**</b></p>
          </td>
          <td ><button class="deleteAllButton" id="deleteAllButton">Delete All</button></td>
        </tr>
      </tbody>

    </table>
  </section>

  <!--Draw and Display Rectangles-->
  <!--Note SVG Patterns consulted from: https://codepen.io/geoffgraham/details/KmMVby-->
  <section id="rectangleDisplay">
    <h2 id="rectangleDisplayHeader">Rectangle Display</h2>
    <% if(locals.rectangles)  { %>
        <% rectangles.forEach(function(rect) { %>
          <container class="ct">
            <svg width="<%= rect.width %>" height="<%= rect.height%>" id="svg">
              <% var pattern = rect.pattern.toLowerCase() %>
              <% if (pattern == "solid") { %>
                  <rect 
                    x="0" y="0" 
                    width="<%= rect.width %>" 
                    height="<%= rect.height%>" 
                    style="fill:<%=rect.color%>;stroke:<%=rect.bordercolor %>;stroke-width:5;opacity:<%=rect.opacity%>">
                  </rect>
              <% } else { %>
                <% if (pattern == "chevron") { %>
                    <pattern id="pattern-chevron" x="0" y="0" width="15" height="15" patternUnits="userSpaceOnUse" fill="black">
                        <path d="M8 2.156l-1.406 1.438-6.594 6.563v5.688l.125-.125 7.875-7.906 8 8v-5.625l-6.594-6.594-1.406-1.438z" />
                    </pattern>
                <% } else if (pattern == "checkerboard") { %>
                    <pattern id="pattern-checkerboard" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                      <rect class="checker" x="0" width="10" height="10" y="0"></rect>
                      <rect class="checker" x="10" width="10" height="10" y="10"></rect>
                    </pattern>
                <% } else if (pattern == "cubes") { %>
                    <pattern id="pattern-cubes" x="0" y="12.6" patternUnits="userSpaceOnUse" width="12.6" height="20" viewBox="0 0 10 16"> 
                      <!-- Cube code courtest of SVGeneration: http://www.svgeneration.com/recipes/3D-Cubes/ -->
                      <g id="cube">
                        <!-- We'll apply the `fill` in the CSS for flexibility -->
                        <path class="left-shade" d="M0 0l5 3v5l-5 -3z"></path>
                        <path class="right-shade" d="M10 0l-5 3v5l5 -3"></path>
                      </g>
                      <!-- Apply the cube shapes -->
                      <use x="5" y="8" xlink:href="#cube"></use>
                      <use x="-5" y="8" xlink:href="#cube"></use>
                    </pattern>
                <% } %>
                <rect x="0" y="0" width="<%= rect.width %>" height="<%= rect.height%>" fill="url(#pattern-<%=pattern%>)" 
                  style="stroke:<%=rect.bordercolor %>;stroke-width:5; opacity:<%=rect.opacity%>";>
                />
              <% } %>
            </svg>
            <p id="rectDescript">id: <%=rect.id%></p>
            <p id="rectDescript">area: <%=rect.width*rect.height%>px<sup>2</sup></p>
          </container>
          
        <% }); %>
    <% } %>
  </section>
  <script src="./javascripts/rectangles.js"></script>
</body>
</html>
